

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  
}

.home-container {
    min-height: 7em;
    
    
     
    background: linear-gradient(45deg,rgb(112, 52, 3),rgb(177, 86, 11),rgb(233, 121, 16));
    
    
 

         
}

.header {
    position: absolute;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.logo {
    width: 180px;
    border-radius: 5px;
}

.nav-links {

    display: flex;
  position: absolute;
  right: 5%; 
    list-style: none;



}

.nav-links li {
    margin: 15px;
    overflow: hidden;
       background: rgb(0,0,0,.1);
      box-shadow: 0 5px 15px rgb(0,0,0,.5);
}

.nav-links a {

    font-size: 15px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    position: relative;
   display: block;


    transition: transform 0.4s;
  
}

.nav-links a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
  
}


.nav-links a:hover {
    transform: translateY(-100%);
}

.burger {
    display: none;
}




/*----------------------------------------------------------------------------------------------*/

.section-title {
    position: relative;
   
    font-family: "Abril Fatface", cursive;
    font-size: 50px;
    font-weight: 100;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background: #b46c31;
    bottom: 0;
    box-shadow: 0 2px 2px #0000001F;
}




.animeux-box::before {
    content: "ADOPTE-MOI";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFFDF;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -100%;
    transition: left 0.4s;
    font-size: 25px;
    font-weight: 500;
}

.animeux-box:hover::before {
    left: 0;
}

.animeux-bio {
    position: absolute;
    bottom: 0;
    display: flex;
    background: #FFFFFFDF;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    flex-wrap: wrap;
}

.animeux-name {
    font-weight: 500;
    font-size: 30px;
}

.animeux-age {
    font-weight: 300;
    font-size: 15px;
}

.animeux-container {
    padding: 0 100px;
    min-height: 150vh;
    margin-top: 50px;
}

.grid-animeux{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
}

.animeux-grid1 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column:1/3 ;
    grid-row: 1/ 3;
}

.animeux-grid2 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column: 3/5;
}

.animeux-grid3 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column: 3/5;
}

.animeux-grid4 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column: 1/3;
    grid-row: 3/4;
}

.animeux-grid5 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column: 3/5;
    grid-row: 3/5;
}

.animeux-grid6 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column: 1/3;
    grid-row: 4/5;
}

.animeux-box {
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    overflow: hidden;
    transition: background 0.4s;
}

.no-grid {
    height: 500px;
    flex: 1;
    min-width: 350px;
}
/*------------------------------------------------------------------------------------------------*/

.animeux-grid7 {
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.animeux-grid8 {
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 3 / 5;
}

.animeux-grid9 {
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 3 / 5;
}

.animeux-grid10 {
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 1/3;
  grid-row: 3 / 4;
}

.animeux-grid11{
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 3/ 5;
  grid-row: 3 / 5;
}

.animeux-grid12 {
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 1/3;
  grid-row: 4/ 5;
}

/*-----------------------------------------------------------------------*/

.footer {
    min-height: 100px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
    padding: 0 100px;
    flex-wrap: wrap;
}

.copyrights {
    padding-right: 20px;
}

.conditions {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

/*---------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------*/



@media (max-width: 900px) {
    
     
    .header {
        justify-content: space-between;
    }

    .burger-container {
       
        width: 35px;
        height: 30px;
        position: relative;
    }

    .burger {
      
        display: block;
        height: 3px;
        width: 30px;
        background: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: background 0.4s;
    }

     .burger-container.active .burger {
        background: transparent;
    }

    .burger::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        bottom: 8px;
        transition: transform 0.4s,
            bottom 0.4s,
            background 0.4s;
    }

    .burger-container.active .burger::before {
        bottom: 0;
        transform: rotate(-45deg);
        background: black;
    }

    .burger::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        top: 8px;
        transition: transform 0.4s,
            top 0.4s background 0.4s;
    }

    .burger-container.active .burger::after {
        top: 0;
        transform: rotate(45deg);
        background: black;
    }

    .nav-links {
        
        position: absolute;
        width: 100%;
        height: 10em ;
        background: linear-gradient(-45deg,rgb(112, 52, 3),rgb(177, 86, 11),rgb(233, 121, 16));
        left: 0;
        top: -15em;
        transition: top 0.4s ease-in-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0 50px;
       
        
    }
  

    .nav-links.active {
        top: 0;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        color: black;
        font-size: 20px;
    }

 
   
} 
@media (max-width: 550px) {

    .logo {
        width: 120px;
    }

    
    .header,

    .footer {
        padding: 0 7%;
    }

    .header {
        height: 100px;
    }

    
    .nav-links a {
        font-size: 20px;
    }

    .section-title {
        font-size: 30px;
        text-align: center;
    }

   

}

@media (max-width: 400px) {

    .footer {
        justify-content: center;
    }
} 