* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
  
}


.header {
    position: absolute;
    left: 5%;
    top: -5%;
    width: 100%;
   

     
   
  
    
    display: flex;
    align-items: center;
    padding:  50px;
}

.logo {
    width: 180px;
    border-radius: 5px;
}

.nav-links {

    display: flex;
  position: absolute;
  right: 15%; 
    list-style: none;



}

.nav-links li {
    margin: 15px;
    overflow: hidden;
       background: rgb(0,0,0,.1);
      box-shadow: 0 5px 15px rgb(0,0,0,.5);
}

.nav-links a {

    font-size: 15px;
    font-weight: 500;
    color: black;
    text-decoration: none;
    position: relative;
   display: block;


    transition: transform 0.4s;
  
}

.nav-links a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
  
}


.nav-links a:hover {
    transform: translateY(-100%);
}




/*----------------------------------------------------------------------------------------------*/
.animeux-container{
    
   
}
.section-title {
    position: relative;
    bottom: -40px;
    font-family: "Abril Fatface", cursive;
    font-size: 50px;
    font-weight: 100;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background: #b46c31;
    bottom: 0;
    box-shadow: 0 2px 2px #0000001F;
}




.animeux-box::before {
    content: "ADOPTE-MOI";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFFDF;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -100%;
    transition: left 0.4s;
    font-size: 25px;
    font-weight: 500;
}

.animeux-box:hover::before {
    left: 0;
}

.animeux-bio {
    position: absolute;
    bottom: 0;
    display: flex;
    background: #FFFFFFDF;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    flex-wrap: wrap;
}

.animeux-name {
    font-weight: 500;
    font-size: 30px;
}

.animeux-age {
    font-weight: 300;
    font-size: 15px;
}

.animeux-container {
    padding: 0 100px;
    min-height: 150vh;
    margin-top: 50px;
}

.grid-animeux{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
}

.animeux-grid1 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column:1/3 ;
    grid-row: 1/ 3;
}

.animeux-grid2 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column: 3/5;
}

.animeux-grid3 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column: 3/5;
}

.animeux-grid4 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column: 1/3;
    grid-row: 3/4;
}

.animeux-grid5 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column: 3/5;
    grid-row: 3/5;
}

.animeux-grid6 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column: 1/3;
    grid-row: 4/5;
}

.animeux-box {
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    overflow: hidden;
    transition: background 0.4s;
}

.no-grid {
    height: 500px;
    flex: 1;
    min-width: 350px;
}
/*------------------------------------------------------------------------------------------------*/

.animeux-grid7 {
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.animeux-grid8 {
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 3 / 5;
}

.animeux-grid9 {
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 3 / 5;
}

.animeux-grid10 {
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 1/3;
  grid-row: 3 / 4;
}

.animeux-grid11{
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 3/ 5;
  grid-row: 3 / 5;
}

.animeux-grid12 {
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 1/3;
  grid-row: 4/ 5;
}

/*-----------------------------------------------------------------------*/

.footer {
    min-height: 100px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
    padding: 0 100px;
    flex-wrap: wrap;
}

.copyrights {
    padding-right: 20px;
}

.conditions {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

/*---------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------*/
@media (max-width: 550px) {

    .logo {
        width: 120px;
    }

    
    .header,

    .footer {
        padding: 0 7%;
    }

    .header {
        height: 100px;
    }

     .nav-links a {
        font-size: 15px;
    }

    .section-title {
        font-size: 30px;
        text-align: center;
    }

   

}

@media (max-width: 400px) {

    .footer {
        justify-content: center;
    }
} 

