@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.home-container {
    min-height: 50vh;
     background-color:black;

    background: url(../images/bg4.jpeg);
    background-size: cover;
 

         
}


.header {
    position: absolute;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.logo {
    width: 180px;
    border-radius: 5px;
}

.nav-links {

    display: flex;
  position: absolute;
  right: 5%; 
    list-style: none;



}

.nav-links li {
    margin: 15px;
    overflow: hidden;
       background: rgb(0,0,0,.1);
      box-shadow: 0 5px 15px rgb(0,0,0,.5);
}

.nav-links a {

    font-size: 15px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    position: relative;
   display: block;


    transition: transform 0.4s;
  
}

.nav-links a::before {
    content: attr(data-text);
    position: absolute;
    top: 100%;
  
}


.nav-links a:hover {
    transform: translateY(-100%);
}

.burger {
    display: none;
}

.landing {
    line-height: 80px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
}

.big-title {
    width: 50%;
    color: white;
    font-size: 50px;
    font-family: "Abril Fatface", cursive;
    font-weight: 30px;
}

/*---------------------------------------------------------------------------------------------------*/



.section-title {
    position: relative;
    font-family: "Abril Fatface", cursive;
    font-size: 50px;
    font-weight: 100;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 7px;
    background: #b46c31;
    bottom: 0;
    box-shadow: 0 2px 2px #0000001F;
}




.animeux-box::before {
    content: "ADOPTE-MOI";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFFFFFDF;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -100%;
    transition: left 0.4s;
    font-size: 25px;
    font-weight: 500;
}

.animeux-box:hover::before {
    left: 0;
}

.animeux-bio {
    position: absolute;
    bottom: 0;
    display: flex;
    background: #FFFFFFDF;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    flex-wrap: wrap;
}

.animeux-name {
    font-weight: 500;
    font-size: 30px;
}

.animeux-age {
    font-weight: 300;
    font-size: 15px;
}

.animeux-container {
    padding: 0 100px;
    min-height: 150vh;
    margin-top: 50px;
}

.grid-animeux{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
}

.animeux-grid1 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column:1/3 ;
    grid-row: 1/ 3;
}

.animeux-grid2 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column: 3/5;
}

.animeux-grid3 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column: 3/5;
}

.animeux-grid4 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column: 1/5;
    grid-row: 3/4;
}

.animeux-grid5 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column: 1/5;
    grid-row: 1;
}

.animeux-grid6 {
    background: url(../images/nos_chiens/1.jpeg);
    grid-column: 1/5;
    grid-row: 4/5;
}

.animeux-box {
    position: relative;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    overflow: hidden;
    transition: background 0.4s;
}

.no-grid {
    height: 500px;
    flex: 1;
    min-width: 350px;
}
/*------------------------------------------------------------------------------------------------*/

.animeux-grid7 {
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.animeux-grid8 {
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 3 / 5;
}

.animeux-grid9 {
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 3 / 5;
}

.animeux-grid10 {
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 1;
  grid-row: 3 / 5;
}

.animeux-grid11{
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 2 / 4;
  grid-row: 3 / 5;
}

.animeux-grid12 {
  background: url(../images/nos_chats/6.jpeg);
  grid-column: 4;
  grid-row: 3 / 5;
}


 /*----------------------------------------------------------------------------------------------*/
.footer {
    min-height: 100px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
    padding: 0 100px;
    flex-wrap: wrap;
}

.copyrights {
    padding-right: 20px;
}

.conditions {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 900px) {

    .header {
        justify-content: space-between;
    }

    .burger-container {
        width: 35px;
        height: 30px;
        position: relative;
    }

    .burger {
        display: block;
        height: 3px;
        width: 30px;
        background: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: background 0.4s;
    }

    .burger-container.active .burger {
        background: transparent;
    }

    .burger::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        bottom: 8px;
        transition: transform 0.4s,
            bottom 0.4s,
            background 0.4s;
    }

    .burger-container.active .burger::before {
        bottom: 0;
        transform: rotate(-45deg);
        background: black;
    }

    .burger::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        top: 8px;
        transition: transform 0.4s,
            top 0.4s background 0.4s;
    }

    .burger-container.active .burger::after {
        top: 0;
        transform: rotate(45deg);
        background: black;
    }

    .nav-links {
        position: absolute;
        width: 100%;
        height: 50vh;
        background: #b46c31;
        left: 0;
        top: -50vh;
        transition: top 0.4s ease-in-out;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0 50px;
    }

    .nav-links.active {
        top: 0;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        color: black;
        font-size: 30px;
    }
 /*--------------------------------------------------------------------------------------*/
   
} 

@media (max-width: 550px) {

    .logo {
        width: 100px;
    }

    .landing,
    .header,

    .footer {
        padding: 0 7%;
    }

    .header {
        height: 100px;
    }

    .big-title {
        font-size: 50px;
        line-height: 50px;
    }

    .nav-links a {
        font-size: 20px;
    }

    .section-title {
        font-size: 30px;
        text-align: center;
    }

   

}

@media (max-width: 400px) {

    .footer {
        justify-content: center;
    }
} 

/*---------------------------------------------------------------------------------------------------*/


.toggle {
  width: 50px;
  height: 50px;
  background:  #b46c31;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.toggle::before {
  content: '\f1e0';
  width: 100%;
  height: 100%;
  position: absolute;
  color: white;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}

.share.activee .toggle::before {
  content: '\f00d';
  font-size: 2rem;
}
.share {
  position: fixed;
  bottom: 22px;
  right: 15px;
}
.share ol {
  position: absolute;
  width: 50px;
  height: 50px;
}

.share ol li {
  position: absolute;
  width: 50px;
  height: 50px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all .3s;
  opacity: 0;
}

.share ol li a {
  color: black;
}

.share.activee ol li {
  opacity: 1;
  transition: all .3s;
}

.share.activee ol li:nth-child(1) {
  transition-delay: .1s;
  transform: translateY(-60px);
}

.share.activee ol li:nth-child(2) {
  transition-delay: .2s;
  transform: translateY(-120px);
}

.share.activee ol li:nth-child(3) {
  transition-delay: .3s;
  transform: translateY(-180px);
}


/*----------------------------------------------------------------------------------------------------*/
form {
  
  padding: 30px;
  background-color: white;
  border-radius: 10px;


}
form h1 {
  font-size: 20px;
}
form .separation {
  width: 100%;
  height: 1px;
  background-color: #b46c31;
}
form .corps-formulaire {
      font-family: "Montserrat", sans-serif;
  display: flex;
  flex-wrap: wrap;
justify-content: center;
  margin-bottom: 30px;
}
form .corps-formulaire .groupe {
  position: relative; 
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
form .corps-formulaire .gauche .groupe input {
  margin-top: 5px;
  padding: 10px 5px 10px 30px;
  border: 1px solid #c9c9c9;
  outline-color: #b46c31;
  border-radius: 5px;
}

form .corps-formulaire .gauche .groupe i {
  position: absolute; 
  left: 0;
  top: 25px;
  padding: 9px 8px;
  color: #b46c31;
}

form .corps-formulaire .droite {
  margin-left: 40px;
}
form .corps-formulaire .droite .groupe {
  height: 100%;
}
form .corps-formulaire .droite .groupe textarea {
  margin-top: 5px;
  padding: 10px;
  background-color:  #f1f1f1;
  border: 2px solid  #b46c31;
  outline: none;
  border-radius: 5px;
  resize: none;
  height: 72%;
}
form .pied-formulaire button {
  margin-top: 10px;
  background-color:#b46c31;
  color: white;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s;
}
form .pied-formulaire button:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 920px) {
  form .corps-formulaire .droite {
    margin-left: 0px;
  }
}